
.btn-1{
    background-color: #f8f9fa;
    color: #303030;
    border: 1px solid #303030;
    outline: none;
    border-radius: 5rem;
    padding: 9px 18px;
}
.btn-2{
    background-color: #7ad0a7;
    color: #f8f9fa;
    border: none;
    border-radius: 5rem;
    padding: 10px 18px;
}
.btn-1:hover{
    background-color: #7ad0a7;
    color: #f8f9fa;
    border: none;
}
.btn-2:hover{
    background-color: #f8f9fa;
    color: #303030;
    border: 1px solid #303030;
}